.post{
    font-size: 10px;
    border: 10px;
    border-width: 6px;
    font-style: italic;
    font-weight: bold;
    color: white;
}
.card-cd{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#bt{
    border: 1px;
    color: white;
}
#head{
 font-size: 30px;
 border-radius: 30px;
 font-family: 'Spicy Rice', cursive;
 text-align: center;
 border-bottom: 2px solid black;
 padding: 10px;
 
}
.card-bd{
    background-color:#e0d5d59e;
    border: 1px solid;
    padding: 70px;
    box-shadow: 2px 4px;
    font-size: 25px;
    font-family: pacifico,cursive;
    padding:20px;
}